[submodule "nginx"]
	path = nginx
	url = git@github.com:42-Transcendance-CGSSV/nginx.git
[submodule "omni_front"]
	path = omni_front
	url = git@github.com:42-Transcendance-CGSSV/omniFront.git
[submodule "auth_service"]
	path = auth_service
	url = git@github.com:42-Transcendance-CGSSV/auth_service.git
[submodule "pong_service"]
	path = pong_service
	url = git@github.com:42-Transcendance-CGSSV/pong_service.git
[submodule "pong_ai_service"]
	path = pong_ai_service
	url = git@github.com:42-Transcendance-CGSSV/pong_ai_service.git
[submodule "matchmaking_service"]
	path = matchmaking_service
	url = git@github.com:42-Transcendance-CGSSV/match_making_service.git
[submodule "match_history_service"]
	path = match_history_service
	url = git@github.com:42-Transcendance-CGSSV/match_history.git
